In [24]:
import pandas as pd
import glob
import re

In [25]:
def grab_county_file_paths():
    paths = []
    dir = "countyCSV_March7"
    for path in glob.glob(f"{dir}/*"):
        paths.append(path)
    return paths

In [26]:
county_file_paths = grab_county_file_paths()

In [27]:
len(county_file_paths)

85

In [13]:
for path in county_file_paths[:1]:
    df = pd.read_csv(path)
    
    columns = df.columns
    print(df)

    Code of Va.  Section Section  This Code
0                  1-3.9                1-3
1         1-13.3 et seq.                1-2
2              2.1-116.1             16-147
3      2.1-116.1 et seq.             16-147
4        2.1-340 et seq.           2-107(b)
..                   ...                ...
572         62.1-44.19:3             22-433
573       62.1-44.19:3.I             22-441
574       62.1-44.19:3.G             22-442
575             63.1-195           23-2.1.4
576                  NaN           23-5.4.2

[577 rows x 2 columns]

In [29]:
county_file_paths[1].split("/")[-1].split(".")[0]

'falls_church'

In [30]:
for path in county_file_paths:
    print(path.split("/")[-1].split(".")[0])

spotsylvania_county
falls_church
richmond

In [54]:
def process_csvs(paths):
    valid_dfs = []
    for path in paths:
        df = pd.read_csv(path)
        columns = df.columns
        county = path.split("/")[-1].split(".")[0]
        
        df = df.rename({columns[0]: "code_va", columns[1]: county}, axis=1)
        df = df.set_index("code_va")
        valid_dfs.append(df)
    
    return valid_dfs, invalid_dfs

In [55]:
valid_dfs, invalid_dfs = process_csvs(county_file_paths)

In [56]:
len(valid_dfs)

85

In [57]:
valid_dfs[11]

                 tappahannock
code_va
1-13 et seq.              1-2
1-13.1                    1-2
1-13.3                    1-2
1-13.7                    1-2
1-13.9                    1-4
...                       ...
58.1-3986              26-237
58.1-3993              26-237
59.1-196 et seq.       26-268
59.1-200               26-268
64.1-2                  22-34

[379 rows x 1 columns]

In [52]:
invalid_dfs

[]

# Concat

In [64]:
big_df = pd.concat(valid_dfs, join="outer")
big_df

,spotsylvania_county,falls_church,richmond,goochland_county,virginia_beach,prince_george_county,quantico,fairfax,madison_county,covington,...,hamilton,christiansburg,south_hill,west_point,new_kent_county,tazewell_county,greene_county,new_market,washington_county,colonial_beach
code_va,,,,,,,,,,,,,,,,,,,,,
1-3.9,1-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-13.3 et seq.,1-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.1-116.1,16-147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.1-116.1 et seq.,16-147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.1-340 et seq.,2-107(b),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"59.1-142, 59.1-143 10-7",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"59.1-142, 59.1-143 10-7"
59.1-144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-7
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10-8
59.1-145â€”59.1-148 10-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.1-145â€”59.1-148 10-7
62.1-176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5-3

In [65]:
codes = big_df.index.unique()
codes

Index([                             '1-3.9',
                           '1-13.3 et seq.',
                                '2.1-116.1',
                        '2.1-116.1 et seq.',
                          '2.1-340 et seq.',
                                  '2.1-344',
                        '2.1-639.1 et seq.',
                         '2.2-4025 et seq.',
                                        nan,
                                '3.1-22.28',
       ...
        'Title 58.1, Art. 4, Ch. 32  20-80',
       'Title 58.1, Art. 4, Ch. 38  20-100',
                           '58.1-3230â€”3233',
               'Title 58.1, Ch. 37  13.1-3',
                '58.1-3700  Ch. 13.1(note)',
        '58.1-3701 et seq.  Ch. 13.1(note)',
                              '58.1-3712.2',
                                    '23-89',
                 '59.1-142, 59.1-143  10-7',
                  '59.1-145â€”59.1-148  10-7'],
      dtype='object', name='code_va', length=8589)

In [66]:


for c in list(codes):
    df_big["code_va"].query(c)

KeyError: 'code_va'

In [62]:
grouped_big_df = big_df.groupby(level=0).sum()

In [63]:
grouped_big_df

                                  newport_news
code_va
1-1                                          0
1-1 et seq.                                  0
1-10                                         0
1-10 et seq.                                 0
1-12                                         0
...                                        ...
title 58.1, ch. 39, art. 3                   0
title 58.1, ch. 39, arts. 2 and 4            0
title 59.1, ch. 29                           0
title 63.2, ch. 17                           0
â€”                                            0

[8588 rows x 1 columns]

# Merge

In [20]:
def merge_dfs(single_df, df):
    return pd.merge(single_df, df, on="code_va")

In [21]:
big_df = pd.merge(valid_dfs[0], valid_dfs[1], on="code_va")
big_df

KeyError: 'code_va'